<div class="page-header">
	<h1> Emoji Analytics </h1>
</div>

<!-- General Summary -->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3> Emoji Summary Statistics </h3>
			</div>
			<div class="panel-body">
				<dl>
					<dt> Summary Statistics </dt>
					<dd> Summary lists Top 10 Emojis used within San Antonio and the general sentiment for tweets that contain them. </dd>
				</dl>
				<!-- Bar Chart -->

				<!-- Pie Chart -->


			</div>
		</div>
	</div>
</div>

<!-- Locations: Heatmap --> 
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3> Emoji Locations </h3>
			</div>
			<div class="panel-body">
				<dl>
					<dt> Emoji Usage Heatmap </dt>
					<dd> Heatmap illustrates where emojis are used within San Antonio. </dd>

					<!-- Heatmap -->

				</dl>
			</div>
		</div>
	</div>
</div>

<!-- Emoji Affluence -->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3> Emoji Affluence </h3>
			</div>
			<div class="panel-body">
				<dl> 
					<dt> Outward Engagement </dt>
					<dd> We explore emoji affluence by inspecting the amount of engagement a tweet which contains emojis get. </dd>
				</dl>

				<!-- Pie Chart: Insider vs. Outsider -->

				<!-- Mock Graph: Illustrate Outward Nodes -->
				
			</div>	
		</div>
	</div>
</div>