<div class="page-header">
	<h1> Local Facts &amp; Figures </h1>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Top 10 Trending Hashtags
			</div>
			<div class="panel-body">
				<p> Select the querying paramters for the trending hashtags you'd like to see. </p>
				<div class="form-inline">
					<div class="form-group">
						<label for="trend-hash.politics"> Political Inclination: </label>
						<select class="form-control" id="trend-hash.politics" ng-model="trendHash.politics">
							<option value="democratic"> Democrats </option>
							<option value="republican"> Republicans </option>
							<option value=""> All </option>
						</select> 
					</div><br>
					<div class="form-group">
						<label for="politics1"> Language: </label>
						<select class="form-control" id="trend-hash.language" ng-model="trendHash.language">
							<option value="en"> English </option>
							<option value="cn"> Chinese </option>
							<option value="es"> Spanish </option>
							<option value=""> All </option>
						</select> 
					</div> <br>
					<div class="form-group">
						<label for="trend-hash.visitor"> Visitor Constraint: </label>
						<select class="form-control" id="trend-hash.visitor" ng-model="trendHash.language">
							<option value="true"> Yes </option>
							<option value="false"> No </option>
							<option value=""> Neither </option>
						</select> 
					</div> <br>
					<div class="form-group">
						<label for="trend-hash.mood"> Mood: </label>
						<select class="form-control" id="trend-hash.mood" ng-model="trendHash.language">
							<option value="happy"> Happy </option>
							<option value="sad"> Sad </option>
							<option value=""> Neither </option>
						</select> 
					</div>
					<button class="btn btn-default" ng-click="hashtagFetch()"> Search </button>
				</div>
			</div>
			<table class="table">
				<thead>
					<th> Hashtag </th>
					<th> Sentiment </th>
					<th> Subjectivity </th>
					<th> Popularity </th>
				</thead>
				<tbody>
					<tr ng-repeat="t in tags"> 
						<td> {{ t.text }} </td>
						<td> {{ t.sentiment }} </td>
						<td> {{ t.subjectivity }} </td>
						<td> {{ t.popularity }} </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Local Social Summary of Twitter Users
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
						<i class="fa fa-user fa-3x"></i> <br>
						<p> Typically, A San Antonian Twitter User is connected to <b>{{ socialGraph.activity || "many"}} </b> users. </p>
					</div>
					<div class="col-sm-6">
						<i class="fa fa-twitter fa-3x"></i><br>
						<p> An average San Antonian Twitter User tweets <b>{{ socialGraph.connectivity || "many times"}} </b> a day. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">

</div>