<div class="page-header">
	<h1> Hashtags Analytics </h1>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3> Trending Hashtags </h3>
			</div>
			<div class="panel-body">
				<dl> 
					<dt> Trend Timeline </dt>
					<dd> Use brusher for timeline and look at the trending hashtags for different times </dd>
				</dl>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3> Popular Hashtags for Topics </h3>
			</div>
			<div class="panel-body">
				<dl> 
					<dt> Popular Hashtags </dt>
					<dd> Use brusher for timeline and look at the trending hashtags for different times </dd>
				</dl>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3> Top Hashtags Sentiment </h3>
			</div>
			<div class="panel-body">
				<dl> 
					<dt> Hashtag Sentiment Comparison </dt>
					<dd> Here, we selected the top 3 hashtag from each topic we studied and we compare the sentiment of the tweets that mentioned the hashtags. </dd>
				</dl>
			</div>
		</div>
	</div>
</div>