<div class="page-header">
	<h1> Hashtags Analytics </h1>
</div>
<!--
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3> Trending Hashtags </h3>
			</div>
			<div class="panel-body">
				<div class="col-sm-10">
					<dl> 
						<dt> Trend Timeline </dt>
						<dd> Use brusher for timeline and look at the trending hashtags for different times </dd>
					</dl>
				</div>
				<div class="col-sm-2">
					<b> Data Filter </b> <br> 

						Start Date
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="trending.params.start_date" is-open="trending.date_opened1" max-date="trending.maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default form-control" ng-click="trending.open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
            End Date
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="trending.params.end_date" is-open="trending.date_opened2" max-date="trending.maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default form-control" ng-click="trending.open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
            Granularity 
            <p class="input-group">
            	<select ng-model="trending.params.granularity" class="form-control">
            		<option ng-repeat="i in trending.granularities"> {{ i }} </option>
             	</select>
            </p>
						<p class="input-group">
							Political Leaning
							<select ng-model="trending.params.political_leaning" class="form-control">
								<option ng-repeat="i in trending.political_choices">{{ i }} </option>
							</select>
						</p>
						<p class="input-group">
							Language
							<input type="text" ng-model="_dummy" typeahead="lang.data.name for lang in trending.languages | filter:$viewValue | limitTo:8" typeahead-on-select="general_sentiment_language_callback($item)" class="form-control">
						</p> 
						<p class="input-group">
							<button class="btn btn-primary" ng-click="trending.call()"> Fetch Data </button>
						</p> 
				</div>
			</div>
		</div>
	</div>
</div>
-->

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3> Popular Hashtags for Demographics </h3>
			</div>
			<div class="panel-body">
				<div cg-busy="{promise: popular.promise, message: 'Asking Nectar cluster now. Please wait patiently.'}">
					<dl> 
						<dt> Popular Hashtags </dt>
						<dd> The following hashtags are the top 10 most mentioned hashtags for the our chosen demographic profiles. By identifying these hashtags we can discover similar hashtags which may highlight minor topics of interest for Twitter users who are actually involved in our chosen demographic profiles of choice. </dd>
					</dl>
					<b> Democrats Popular Hashtags </b> <br>
					<d3-bars data="popular.democrat_data" categorical-label="hashtag" numerical-label="count" ng-if="popular.ready"> </d3-bars>
					<b> Republicans Popular Hashtags </b> <br>
					<d3-bars data="popular.republican_data" categorical-label="hashtag" numerical-label="count" ng-if="popular.ready"> </d3-bars>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3> Similar Hashtags </h3>
			</div>
			<div class="panel-body">
				<div cg-busy="{promise: similar.promise, message: 'Asking Nectar cluster now. Please wait patiently.'}">
					<div class="col-sm-10">
						<dl> 
							<dt> Hashtag Networks </dt>
							<dd> Query a given hashtag and find related hashtags of interest </dd>
						</dl>
						<d3-circle-packing data="similar.circleData" ng-if="similar.data != null || similar.updating == false"></d3-circle-packing>
					</div>
					<div class="col-sm-2">
						<b> Query Fields </b> <br> <br>
						<p class="input-group">
							Query Hashtag <br>
							<input type="text" ng-model="similar.params.hashtag" class="form-control"> 
						</p>
						<p class="input-group">
							Degrees of Connectivtity
							<select ng-model="similar.params.degree" class="form-control">
								<option ng-repeat="i in similar.degrees"> {{ i }} </option>
							</select>
						</p>
						<button class="btn btn-primary" ng-click="similar.call()"> Submit Query </button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>