<div class="page-header">
	<h1> Location Analytics </h1>
</div>

<!-- Heatmap: Sentiment -->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4> General Sentiment </h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-10">
						<b> Tweet Locations </b>
						<ui-gmap-google-map 
		         center="map1.center"
		         zoom="map1.zoom"
		         dragging="map1.dragging"
		         options="map1.options"
		         pan="false"
		         control="map1.control"
		       	>
			       	<ui-gmap-layer namespace="visualization" type="HeatmapLayer" options="map.heatmap.options" show="true" onCreated="map.heatLayerCallback"></ui-gmap-layer>

			      </ui-gmap-google-map>
					</div>
					<div class="col-sm-2">
						<b> Data Filter </b> <br> <br>
						<!-- Date Ranges --> 
						Start Date 
						<p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default form-control" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
            End Date 
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default form-control" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
						<!-- Political Leaning -->
						<p class="input-group">
							Political Leaning
							<select ng-model="general_sentiment.selection.political" class="form-control">
								<option ng-repeat="i in general_sentiment.political_choices">{{ i.charAt(0).toUpperCase() + i.slice(1) }} </option>
							</select>
						</p>
						<!-- Language --> 
						<p class="input-group">
							Language
							<input type="text" ng-model="_dummy" typeahead="lang.data.name for lang in general_sentiment.languages | filter:$viewValue | limitTo:8" typeahead-on-select="general_sentiment_language_callback($item)" class="form-control">
						</p> 
						<p class="input-group">
							<button class="btn btn-primary" ng-click="general_sentiment.call"> Update Filters </button>
						</p>
					</div>
				</div>
			</div>
		</div>	
	</div>	
</div>

<!-- Selected Location : Heatmap -->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Location Specific Sentiment</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-10">
						<b> Visualisation Map - {{map.mode}}</b>
						<ui-gmap-google-map 
		         	center="map.center"
		         	zoom="map.zoom"
		         	dragging="map.dragging"
		         	options="map.options"
		         	pan="false"
		         	control="map.control"
		       	>
		       		<!-- GMap Control --> 
		       		<ui-gmap-rectangle bounds='map.selection.bounds'
						    fill='map.selection.fill'
						    stroke='map.selection.stroke'
						    clickable='map.selection.clickable'
						    draggable='map.selection.draggable'
						    editable='map.selection.editable'
						    visible='map.selection.visible'
						    events='map.selection.events'
							>
							</ui-gmap-rectangle>
							<!-- Gmap Heatmap Layer --> 
							<ui-gmap-layer namespace="visualization" type="HeatmapLayer" options="map.heatmap.options" show="true" onCreated="map.heatLayerCallback" ng-if="specific_sentiment_toggle">
							</ui-gmap-layer>

						</ui-gmap-google-map>
					</div>
					<div class="col-sm-2">
						<b> Visualisation Controls </b>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
