<div class="page-header">
	<h1> Location Analytics </h1>
</div>

<!-- Heatmap: Sentiment -->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4> General Sentiment </h4>
			</div>
			<div class="panel-body">
				<div cg-busy="{promise: general_sentiment.promise, message: 'Asking Nectar cluster now. Please wait patiently.'}">
				<div class="row">
					<div class="col-sm-10">
						<dl>
							<dt> Day Tweet Sentiment Heatmap </dt>
							<dd> The map below illustrates all the locations of all tweets for a given date selected. It is then possible to filter the heatmap based on <i>Polarity</i> and <i>Subjectivity</i> to study the sentiment of the tweets on any given past date. Additional demographic filters are available at the data filter section. </dd>
						</dl>
						<ui-gmap-google-map 
		         center="map1.center"
		         zoom="map1.zoom"
		         dragging="map1.dragging"
		         options="map1.options"
		         pan="false"
		         control="map1.control"
		       	>
			       	<ui-gmap-layer namespace="visualization" type="HeatmapLayer" options="map1.heatmap.options" show="true" onCreated="map1.heatLayerCallback" ng-if="general_sentiment.heatmapToggle"></ui-gmap-layer>
			      </ui-gmap-google-map>
			      <br> <br>
			      <b> Total Number of Tweets: </b>{{ general_sentiment.data.locations.length || "No Tweets..." }}
					</div>
					<div class="col-sm-2">
						<b> Data Filter </b> <br> 
						<!-- Date Ranges --> 
						Date
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="general_sentiment.selection.date" is-open="general_sentiment.date_opened" max-date="general_sentiment.maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default form-control" ng-click="general_sentiment.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
						<!-- Political Leaning -->
						<p class="input-group">
							Political Leaning
							<select ng-model="general_sentiment.selection.political_leaning" class="form-control">
								<option ng-repeat="i in general_sentiment.political_choices">{{ i }} </option>
							</select>
						</p>
						<!-- Language --> 
						<p class="input-group">
							Language
							<input type="text" ng-model="_dummy" typeahead="lang.data.name for lang in general_sentiment.languages | filter:$viewValue | limitTo:8" typeahead-on-select="general_sentiment_language_callback($item)" class="form-control">
						</p> 
						<p class="input-group">
							<button class="btn btn-primary" ng-click="general_sentiment.call()"> Fetch Data </button>
						</p> <hr>
						<b> Heatmap Filter </b> <br> 
						<p class="input-group">
							Polarity Opt.
							<form>
								<div ng-repeat="p in general_sentiment.polarity_choices">
									<label>
										<input type="radio" ng-model="general_sentiment.filter.polarity" ng-value="p"> {{ p || "all" }}
									</label>
								<br>
								</div>
							<form>

						</p>
						<p class="input-group">
							Subjectivity Opt. 
							<form>
								<div ng-repeat="p in general_sentiment.subjectivity_choices">
									<label>
										<input type="radio" ng-model="general_sentiment.filter.subjectivity" ng-value="p"> {{ p || "all" }}
									</label>
								<br>
								</div>
							<form>
						</p>
						<button class="btn btn-primary" ng-click="general_sentiment.applyHeatmapFilter()"> Apply Filter </button>
					</div>
				</div>
			</div>
			</div>
		</div>	
	</div>	
</div>

<!-- Selected Location : Heatmap -->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Location Specific Sentiment</h4>
			</div>
			<div class="panel-body">
			<div cg-busy="{promise: specific_sentiment.promise, message: 'Asking Nectar cluster now. Please wait patiently.'}">
				<alert type="warning" ng-show="specific_sentiment.edit_mode"> CURRENTLY IN EDIT MODE. Configure bound and hit update to regain heatmap visualisation. </alert>
				<div class="row">
					<div class="col-sm-10">
						<dl>
							<dt> Sentiments by Location </dt>
							<dd> The map below illustrates specific selected locations of all tweets for a given range of dates selected. It is then possible to filter the heatmap based on <i>Polarity</i> and <i>Subjectivity</i> to study the sentiment of the tweets on any range of given past dates. Additional demographic filters are available at the data filter section. </dd>
						</dl>
						<ui-gmap-google-map 
		         	center="map.center"
		         	zoom="map.zoom"
		         	dragging="map.dragging"
		         	options="map.options"
		         	pan="false"
		         	control="map.control"
		         	ng-if="specific_sentiment.edit_mode"
		       	>
		       		<!-- GMap Control --> 
		       		<ui-gmap-rectangle bounds='map.selection.bounds'
						    fill='map.selection.fill'
						    stroke='map.selection.stroke'
						    clickable='map.selection.clickable'
						    draggable='map.selection.draggable'
						    editable='map.selection.editable'
						    visible='specific_sentiment.edit_mode'
						    events='map.selection.events'
							>
							</ui-gmap-rectangle>
							</ui-gmap-layer>

						</ui-gmap-google-map>
						<div ng-if="specific_sentiment.data == null && specific_sentiment.edit_mode == false">
							<p class="text-center"> <b>NO DATA YET</b><br><b>Set Bound and Update Visual on Visualtisation Control</b></p>
						</div>
					</div>
					<div class="col-sm-2">
						<b> Visualisation Controls </b> <br> <br>
						Start Date 
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="specific_sentiment.start_date" is-open="specific_sentiment.date_opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default form-control" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
            End Date
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="specific_sentiment.end_date" is-open="specific_sentiment.date_opened1" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default form-control" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
            <!-- Political Leaning -->
						<p class="input-group">
							Political Leaning
							<select ng-model="specific_sentiment.selection.political" class="form-control">
								<option ng-repeat="i in specific_sentiment.political_choices">{{ i }} </option>
							</select>
						</p>
						<!-- Language --> 
						<p class="input-group">
							Language
							<input type="text" ng-model="__dummy" typeahead="lang.data.name for lang in specific_sentiment.languages | filter:$viewValue | limitTo:8" typeahead-on-select="general_sentiment_language_callback($item)" class="form-control">
						</p> <br>
						<p class="input-group" ng-hide="specific_sentiment.edit_mode">
							<button class="btn btn-primary" ng-click="specific_sentiment.toggleEditMode()"> Edit Bounds </button>
						</p>
						<p class="input-group" ng-show="specific_sentiment.edit_mode">
							<button class="btn btn-primary" ng-click="specific_sentiment.call()"> Update Visual </button>
						</p>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
