<h2> Topic: {{ topic.name }} </h2>
<hr>
<!-- Topic Summary -->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4> Statistical Summary </h4>
			</div>
			<div class="panel-body">
				<!-- Pie Charts -->
				<div>
					<dl> 
						<dt> Proportions </dt>
						<dd> Pie charts are used to illustrate the demographic proportions of Twitter users that tweeted about this particular topic</dd>
					</dl>
				</div>

				<!-- Bar Graph -->
				<div>
					<dl>
						<dt> Enumerations </dt>
						<dd> Bar graphs are used to illustrate the magnitude and comparative scale of Twitter users that tweeted about this particular topic</dd>

					</dl>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Topic Trends w. Timeline Brushing -->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4> Timeline Trends </h4>
			</div>

			<div class="panel-body">
				<dl>
					<dt> Timeline Viewer </dt>
					<dd> Use timeline brusher to view the trend of the topic at particular time periods. </dd>
				</dl>
			</div>

		</div>
	</div>
</div>

<!-- Topic Supporters and Detractors -->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4> Extreme Supporter and Detractor </h4>
			</div>
			<div class="panel-body">
				<!-- Graph Visualization of Affluence -->
				<dl>
					<dt> Supporter vs. Detractor </dt>
					<dd> We found the user that had tweeted most about this topic postively and compared him/her against the user that had tweeted about this topic negatively.  
				</dl>
			</div>
		</div>	
	</div>	
</div>

<!-- Topic mentioned Locations ~ Heatmap -->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4> Mentioned Locations </h4>
			</div>
			<div class="panel-body">
				<dl>	
					<dt> Location Heatmap </dt>
					<dd> This heatmap highlights where tweets that were associated with this topic is. </dd>
				</dl>
			</div>
		</div>
	</div>
</div>

<!-- Topic affluence -->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4> Overall Affluence </h4>
			</div>
			<div class="panel-body">
				<dl>
					<dt>Affluence</dt>
					<dd>This measures the engagement has obtained from other twitter users and the influence it has beyond the searched area.</dd>
				</dl>

			</div>
		</div>
	</div>
</div>