<h2> Topic: {{ topic.name }} </h2>
<hr>
<!-- Topic Summary -->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4> Statistical Summary </h4>
			</div>
			<div class="panel-body">
				<div class="btn-group">
	        <label class="btn btn-success" ng-model="radioModel" btn-radio="'Left'" uncheckable>Left</label>
	        <label class="btn btn-success" ng-model="radioModel" btn-radio="'Middle'" uncheckable>Middle</label>
	        <label class="btn btn-success" ng-model="radioModel" btn-radio="'Right'" uncheckable>Right</label>
    		</div>
			</div>
		</div>
	</div>
</div>

<!-- Topic Trends w. Timeline Brushing -->
<div class="row">
	<div class="col-sm-12">

	</div>
</div>

<!-- Topic Supporters and Detractors -->
<div class="row">
	<div class="col-sm-12">

	</div>	
</div>

<!-- Topic mentioned Locations ~ Heatmap -->
<div class="row">
	<div class="col-sm-12">

	</div>
</div>

<!-- Topic affluence -->
<div class="row">
	<div class="col-sm-12">

	</div>
</div>