<div class="page-header">
	<h1> Analytic Topic Scenarios </h1>
</div>

<div class="row">
	<div class="col-sm-2">
		<ul class="nav nav-pills nav-stacked">
			<li><a href ui-sref="topics.overview"> Overview Comparison </a></li>
			<li><a href ui-sref="topics.topic({name: 'Gun Control'})"> Gun Control </a></li>
			<li><a href ui-sref="topics.topic({name: 'Immigration'})"> Immigration </a></li>
			<li><a href ui-sref="topics.topic({name: 'Unemployment'})"> Unemployment </a></li>	
		</ul>
	</div>
	<div class="col-sm-10">
		<ui-view></ui-view>
	</div>
</div>