<h2> Topics Comparison </h2>

<!-- Summary Comparison -->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4> Summary Comparison </h4>
			</div>
			<div class="panel-body">
				
			</div>
		</div>	
	</div>	
</div>


<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4> Trend Comparison </h4>
			</div>
			<div class="panel-body">
				
			</div>
		</div>	
	</div>	
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4> Extremes Comparison </h4>
			</div>
			<div class="panel-body">
				
			</div>
		</div>	
	</div>	
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4> Affluence Comparison </h4>
			</div>
			<div class="panel-body">
				
			</div>
		</div>	
	</div>	
</div>